/* header */
.inicio{
    h1{
        font-size: large;
        display: inline-block;
        vertical-align: top;
        color: $colortx;
    }
}
.logo {
    width: 150px;
    float: inline-start
}
@media (max-width: $mobile){
    .inicio {
        display: flex;
        flex-direction: row;
    }
}