/* NAVBARR */
nav{
    background-color: $colorbg;
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    a{
        text-decoration: none;
        color: white;
    }
    li{
        color: $colortx;
        list-style: none;
        margin-bottom: 10px;
        margin-left: 75px;
        padding: 12px 0;
        float: left;
        position: relative;
    }
    a::before{
        display: block;
        content: '';
        width: 0%;
        background: rgb(71, 71, 71);
        height: 5px;
        bottom: 0;
        position: absolute;
        transition: width 0.2s;
    }
    a:hover{
        color: gray
    }
    a:hover::before{
        width: 100%;
    }
    h2{
        color: $colortx
    }
}

.componentes {
    width: 100%;
    margin: 0px;
}
@media (max-width: $mobile){
    nav{
        li{
            display: flex;
            flex-direction: row;
            margin: {
                bottom: 10px;
                left: 5px;
            }
            padding: 2px;
        }
    }
}
